# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
python/

# Flask-specific
instance/
.webassets-cache

# Environment variables (Sensitive Data)
.env
.flaskenv

# Database (Local development)
*.db
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/